/*========= ドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav{
	background:#333;
	color:#fff;
	text-align: center;
}

/*ナビゲーションを横並びに*/
nav ul{
    /*2階層目の基点にするためrelativeを指定*/
	position: relative;
	list-style: none;
	display: flex;
	justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
    /*矢印の基点にするためrelativeを指定*/
	position: relative;
	display: inline;
	text-decoration: none;
	color: #999;
	/* padding:20px 45px; */
	padding: 0;
	transition:all .3s;
}

nav ul li li a{
	padding:20px;
}

nav ul li a:hover{
	color:#fff;	
}

/*==2階層目以降の画像設定*/

nav ul li.has-child img{
	max-width: 100%;
	height: 150px;
	transition: all .5s;
	vertical-align: bottom;
}

/*hoverしたら画像拡大*/
nav ul li.has-child img:hover{
	transform: scale(1.2);
}

nav ul li.has-child dt{
	overflow: hidden;
	margin:0 0 10px 0;
}

/*== 2層目の設定 */

nav li.has-child ul.dropdown-style{
    position: absolute; /*絶対配置で位置を指定*/
	left: 0;
	top: 100%;
	z-index: 1;
	justify-content: space-between;
	flex-wrap: wrap;
 	display: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}

nav li.has-child:hover ul.dropdown-style {
  display: flex;
  visibility: visible;
  opacity: 1;
}

/*各ナビゲーション横幅*/
nav li.has-child ul li{
	width: 200px;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
	color: #fff;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
	background:#3577CA;
}

.dropdown-about {
	right: 200px;
	top: -50px;
}

.dropdown-bicycle {
	left: 200px;
	top: -50px;
}

.dropdown-text {
	font-size: 10px;
	margin-top: 10px;
}

/* モーダルに見せるための設定 */
dl {
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 2px 7px #333
}


nav ul > li.has-child {
  position: relative;
  z-index: 2; /* ドロップダウンより上になるように */
}


/*==768px以下の形状*/
@media screen and (max-width:768px){
	
	nav ul{
		display: block;
	}

	nav li.has-child ul{
  	position: relative;
	left:0;
	top:0;
	width:100%;
	visibility:visible;/*JSで制御するため一旦表示*/
	opacity:1;/*JSで制御するため一旦表示*/
	display: none;/*JSのslidetoggleで表示させるため非表示に*/
	transition:none;/*JSで制御するためCSSのアニメーションを切る*/
	}

    nav li.has-child:hover > ul {
	    display: none;
    }
    
	nav li.has-child ul li{
		text-align: left;
	}
	
	nav li.has-child ul li dl{
		width: 180px;
	}

    nav ul li a{
	    padding: 10px 20px;
	}
    
    nav ul li li a{
		padding: 0;
	}
	
	.dropdown-about {
		right: 100%;
		top: -50px;
	}

	.dropdown-bicycle {
		left: 50%;
		top: -50px;
	}
}

@media screen and (max-width: 600px) {
  nav li.has-child ul.dropdown-style {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}
